body {
  margin: 0;
}

.registro-container {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

.registro-welcome,
.registro-form-container {
  flex: 1;
  width: 50%;
}

.registro-welcome {
  background-color: #86c9eb;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.registro-welcome h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.registro-welcome p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.registro-welcome .registro-button {
  background-color: white;
  color: #86c9eb;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registro-welcome .registro-button:hover {
  background-color: #e0e0e0;
}

.registro-form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.registro-form-container header {
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 300px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin: 0 auto;
  width: 108%;
  padding: 10px;
  background-color: #86c9eb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

form button:hover {
  background-color: #86c9eb;
}