:root {
	--color-azul-oscuro: #172f74;
	--color-azul-claro: #3b82f6;
	--color-fondo: #d9e5f1;
	--color-negro: #000000;
	--color-blanco: #FFFFFF;
	--color-acento: #72d6f5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--color-fondo);
	line-height: 1.6;
	min-width: 320px;
}

.appContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.mainGenerico {
	flex: 1;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}