:root {
	--color-azul-oscuro: #172f74;
	--color-azul-claro: #3b82f6;
	--color-fondo: #d9e5f1;
	--color-negro: #000000;
	--color-blanco: #FFFFFF;
	--color-acento: #72d6f5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-fondo);
	line-height: 1.6;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}